@charset "UTF-8";

// ----------------------------------------
//  reset
// ----------------------------------------
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary { display: block; }
ul, li { list-style: none; }
a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; margin: 0; padding: 0; }
input, select { vertical-align: middle; }
a img { border: none; }
img { vertical-align: top; margin: 0; padding: 0; }
img { max-width: 100%; }


// ----------------------------------------
//  basic
// ----------------------------------------
@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: 300;
}

@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: 500;
}

@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}


html {
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans Japanese", "Helvetica Neue", "Segoe UI", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, "ヒラギノ角ゴ ProN W3", Meiryo, "M+ 1p", sans-serif;
}

/* IE10以上 */
@media all and (-ms-high-contrast: none) {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

@media all and (-ms-high-contrast: active) {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}
body {
	text-align: center;
	position: relative;
	color: #43484d;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	line-height: 1.68;
	overflow-x: hidden;
}
html, body { height: 100%; }
body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
	word-break: break-all;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
img {
	vertical-align: top;
	max-width: 100%;
	width: auto;
	height: auto;
}

a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:link {
	color: #232323;
	text-decoration: none;
	outline: none;
}
a:visited {
	color: #232323;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #999999;
	text-decoration: none;
	outline: none;
}
.cf:after { content: ""; display: block; clear: both; height:0; overflow: hidden; }


//メディクリ
$ssmall:  "(max-width:480px)";
$small:  "(max-width:768px)";
$middle: "(max-width:980px)";
$large:  "(max-width:1200px)";
$largeMax: "(min-width:1201px)";


@media #{largeMax} {
    //1201px以上
}
@media #{large} {
    //1200px以下
}
@media #{middle} {
    //980px以下
}
@media #{$small} {
    //768px以下
}
@media #{$ssmall} {
    //480px以下
}

$blue: #00aae4;

// ----------------------------------------
//  top
// ----------------------------------------

header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #ffffff;
  z-index: 100;
  .container {
     max-width: 1230px;
     width: 100%;
     margin: 0 auto;
     padding: 0 15px;
    .nav_left {
      float: left;
      line-height: 51px;
      img {
         vertical-align: middle;
      }
    }
    .nav_right {
      float: right;
      font-size: 0;
      letter-spacing: 0;
      li {
        display: inline-block;
        a {
          display: inline-block;
          padding: 14px 50px;
          font-size: 14px;
          &.white {
          background: #ffffff;
          }
          &.black {
            background: #000000;
            color: #ffffff;
          }
          &:hover {
            color: #00aae4;
          }
        }
      }
    }
  }
}

.s_video_wrap {
  width: 100%;
  height: 100%;
  height: 100vh;
  position: relative;
  video {
    min-height: 100%;
    min-height: 100vh;
    min-width: 100%;
    min-width: 100vw;
    width:auto;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
 .app_wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.75);
    .container {
      max-width: 1230px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
      .app_left {
        float: left;
        padding: 30px 0;
        img {
          display: inline-block;
        }
        .app_text {
          max-width: 660px;
          width: 100%;
          display: inline-block;
          padding-left: 20px;
          text-align: left;
          color: #00aae4;
          .app_text_title {
             font-size: 18px;
             font-weight: bold;
             line-height: 2.2;

          }
          .app_text_desc {
            font-size: 14px;
          }
        }
      }
      .app_btn {
        float: right;
        border: 1px solid #a7a9ac;
        border-radius: 4px;
        padding: 15px 30px;
        margin-top: 45px;
        &:hover {
          border: 1px solid #00aae4;
          .app_btn_text {
            color: #00aae4;
          }
          .img {
            background: url(../img/apple_hover.png) no-repeat center/contain;
          }
        }
        .img {
          width: 40px;
          height: 50px;
          display: inline-block;
          vertical-align: middle;
          background: url(../img/apple.png) no-repeat center/contain;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
        .app_btn_text {
            display: inline-block;
            padding-left: 22px;
            line-height: 50px;
            color: #a7a9ac;
            a {
              .white {
                color: #ffffff;
              }
            }
        }
      }
    }
 }
}

.s_intro {
  padding: 85px 0;
  margin: 50px 0;
  .text_title {
    font-size: 45px;
    color: #1b1b1b;
    margin-bottom: 10px;
  }
  .text_desc1 {
    font-size: 16px;
    color: #1983e8;
    margin-bottom: 55px;
  }
  .text_desc2 {
    font-size: 16px;
    color: #1b1b1b;
  }
}

.s_droneuav {
  .container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    .uav_left {
      float: left;
      width: 50%;
      background: #343434;
      padding-bottom : 32767px;
      margin-bottom : -32767px;
      .text_wrap {
        padding: 75px 40px 75px 50px;
        color: #ffffff;
        text-align: left;
        .text_title {
          font-size: 30px;
          margin-bottom: 35px;
        }
        .text_desc {
          font-size: 14px;
        }
      }
    }
    .uav_right {
      float: left;
      width: 50%;
      height: 100%;
      padding-bottom : 32767px;
      margin-bottom : -32767px;
      .imgslider-wrap {
        .img_slider {
          padding: 0 50px 60px;
          background: #fafafa;
          img {
            margin-top: 50px;
            margin-left: 70px;
          }
          &.bg_white {
            background: #ffffff;
            img {
              margin-left: 50px;
            }
          }
          .title {
            font-size: 20px;
            color: #1b1b1b;
            text-align: left;
            font-weight: bold;
            margin-bottom: 7px;
          }
          .txt {
            font-size: 14px;
            color: #1b1b1b;
            text-align: left;
          }
        }
      }
    }
  }
}

.uav_right .slick-dots {
  bottom: 35px;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button:before {
  font-size: 65px;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
  color: #999999;
}

.uav_right .slick-next {
  right: 15px;
}

.slick-prev:before {
  content: '<';
}

.uav_right .slick-prev:before {
  content: none;
}

.slick-next:before {
  content: '>';
}

.uav_right .slick-next:before {
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.uav_right:hover .slick-next:before {
    opacity: .8;
}

.uav_right .slick-dotted.slick-slider {
    margin-bottom: -10px !important;
}

.s_price {
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 200px auto 200px;
    padding: 65px 150px;
    background: url(../img/pc_bg.png) no-repeat center/cover;
    .inner {
      color: #1b1b1b;
      background: rgba(255,255,255,0.8);
      padding: 60px 30px 20px;
      .text_title {
        font-size: 30px;
        margin-bottom: 40px;
      }
      .text_desc {
        font-size: 16px;
        margin-bottom: 20px;
        a {
          font-weight: bold;
          color: #00aae4;
        }
        .bold {
          font-weight: bold;
        }
        &.margin {
          margin-bottom: 40px;
        }
      }
      .btn {
        margin-bottom: 40px;
        a {
          font-size: 14px;
          display: inline-block;
          border: 1px solid #1b1b1b;
          border-radius: 30px;
          padding: 16px 45px;
          &:hover {
            background: #1b1b1b;
            color: #ffffff;
          }
        }
      }
      .text_desc2 {
          font-size: 12px;
          text-align: right;
      }
    }
  }
}

.s_utminfo {
  background: #f9f9f9;
  .container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 17px;
    #slider_wrap {
      .utm_slider {
        width: 100%;
        padding: 40px 0 0;
        .slider_txt {
          color: #1b1b1b;
          width: 50%;
          float: left;
          text-align: left;
          .txt_title {
            font-size: 24px;
            margin-bottom: 35px;
            letter-spacing: 1px;
          }
          .txt_title2 {
            font-size: 30px;
            margin-bottom: 7px;
            letter-spacing: 1px;
          }
          .txt_desc {
            font-size: 16px;
          }
        }
        .slider_img {
            width: 50%;
            height: 406px;
            float: left;
            position: relative;
          img {
            margin: 0 auto;
            position: absolute;
            right: 10px;
            top: 0;
            &.img01 {
              padding-top: 40px;
            }
            &.img02 {
              padding-top: 40px;
            }
            &.img03 {
                padding-top: 5px;
            }
            &.img04 {
                padding-top: 5px;
            }
            &.img05 {
              padding-top: 40px;
            }
            &.img06 {
              padding-top: 40px;
            }
          }
        }
      }
    }
  }
  &:hover {
    .slick-prev:before {
      opacity: .8;
    }
    .slick-next:before {
      opacity: .8;
    }
  }
}

.s_utminfo .slick-dots {
   text-align: left;
}

.s_utminfo .slick-prev {
  left: -60px !important;
}

.s_utminfo .slick-prev:before {
   opacity: 0;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.s_utminfo .slick-next {
    right: -60px !important;
}

.s_utminfo .slick-next:before {
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.s_insurance {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 200px auto;
    border: 3px solid #242e42;
    .table_wrap {
      .table01 {
        float: left;
        max-width: 560px;
        width: 100%;
        text-align: left;
        background: #242e42;
        padding-top:40px;
        position: relative;
        .utm_logo {
            position: relative;
            display: block;
            margin-bottom: 90px;
            padding-left:75px;
              &:after {
              position: absolute;
              content: "＋";
              top: 65px;
              left: 250px;
              font-size: 50px;
              display: block;
              color:#ffffff;
              -webkit-font-smoothing: antialiased;
              -moz-font-smoothing: antialiased;
              -ms-font-smoothing: antialiased;
              font-smoothing: antialiased;
              }
        }
        .img_tokio {
            display: block;
            margin-bottom: 37px;
            padding-left:75px;
        }
        .txt {
          color: #242e42;
          background: #ffffff;
          padding-left:70px;
          padding-top: 20px;
          font-size: 16px;
          font-weight: bold;
        }
        &:after {
          position: absolute;
          content: "";
          display: inline-block;
          width: 634px;
          height: 300px;
          background: #242e42;
          z-index: -100;
          right: -634px;
          top: 0;
        }
      }
      .table02 {
        width: 250px;
        margin: 0 22px;
        float: left;
        padding-top: 150px;
        .table_up {
          padding: 33px 0 0 10px;
          background: #242e42;
          color: #ffffff;
          border: 3px solid #ffffff;
          border-bottom: none;
          height: 150px;
          position: relative;
          img {
              width: 90px;
              vertical-align: bottom;
              float: left;
          }
          .txt {
              font-size: 16px;
              text-align: left;
              padding-top: 10px;
              position: absolute;
              left: 85px;
              font-weight: bold;
          }
        }
        .table_down {
          border: 3px solid #242e42;
          border-top: none;
          padding: 40px 0;
          height: 150px;
          .txt {
            color: #242e42;
            background: #ffffff;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
    .table_wrap2 {
      padding: 50px 0 40px;
      margin: 0 auto;
      display: inline-block;
      .table03 {
        width: 765px;
        float: left;
        background: #242e42;
        color: #ffffff;
        border-radius: 15px;
        padding: 18px 25px;
        margin-right: 45px;
        font-size: 16px;
        position: relative;
        .title {
          font-weight: bold;
          margin-bottom: 8px;
        }
        .desc {
          text-align: left;
          margin-bottom: 10px;
        }
        .desc02 {
          text-align: left;
          padding: 10px;
          border: 1px solid #ffffff;
        }
        &:after {
          width: 45px;
          content: url(../img/insurance_bg.png);
          display: inline-block;
          position: absolute;
          right: 3px;
          top: 50%;
          transform: translateY(-33%);
        }
      }
      .table04 {
        width: 250px;
        height: 310px;
        float: left;
        background: #242e42;
        color: #ffffff;
        border-radius: 15px;
        padding: 18px 10px;
        font-size: 16px;
        position: relative;
        .title {
          font-weight: bold;
          font-size: 16px;
        }
        .desc {
          color: #242e42;
          background: #ffffff;
          font-weight: bold;
          padding: 10px 15px;
          position: absolute;
          top: 50%;
          left: 15px;
          transform: translateY(-50%)
        }
      }
    }
  }
}

.s_case {
  background: #000000;
  .container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 50px;
    color: #ffffff;
    .title {
      font-size: 30px;
      padding-top: 30px;
      margin-bottom: 20px;
      .border {
        padding-bottom: 10px;
        border-bottom: 1px solid #ffffff;
      }
    }
    .case_wrap {
      .case_item {
        float: left;
        position: relative;
        padding: 10px;
        img {

        }
        .case_text {
           position: absolute;
           bottom: 10px;
           left: 15px;
           font-size: 16px;
           text-align: left;
        }
        &:first-child {
          padding-left: 0;
          .case_text {
            bottom: 25px;
          }

        }
      }
    }
  }
}

.g_footer {
  margin-top: 150px;
}

.g_footer {
  margin-top: 150px;
}

.g_footer_secondary {
  background: #f7f8f9;
	.inner {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		text-align: left;
		padding: 80px 0 60px;
		.group_company {
			width: 100%;
			overflow: hidden;
			.name {
				font-size: 1.1em;
				font-weight: bold;
				color: #72838f;
			}
			> .list {
				width: 40%;
				float: right;
				li {
					display: inline-block;
					vertical-align: top;
					max-width: 240px;
					margin: 1em 1em 0 0;
					a {
						display: block;
						/*border: 1px solid #eee;*/
						img {
							max-width: 200px;
							background-color: #fff !important;
							padding: 1px;
              border: 1px solid #eee;
						}
					}
				}
			}
		}
		.g_footer_company {
			width: 60%;
			float: left;
			padding: 0;
			text-align: left;
			.item {
				color: #a4afb7;
				margin: .4em 0 0 0;
				&.first {
					margin-top: 1.4em;
				}
				.first {
					float: left;
					min-width: 120px;
					padding: .2em 0;
				}
				.secondary {
					margin-left: 60px;
					padding: .2em 0;
            .rtl {
              direction: rtl;
              unicode-bidi: bidi-override;
             }
				}
			}
		}
		.sns {
      padding-top: 30px;
			li {
				display: inline-block;
				width: 26px;
				a {
					display: block;
					img {}
				}
			}
		}
	}
}
.g_footer_last {
	.inner {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 3em 0;
		.logo {
			float: left;
			a {
				img {}
			}
		}
		.copy {
			float: right;
			color: #a4afb7;
			font-size: .9em;
			letter-spacing: 1px;
		}
	}
}

@media screen and (max-width: 768px) {
	.g_footer {
		margin-top: 4em;
	}
	.g_footer_primary {
		padding: 0 1.6em;
		.g_menu_inner {
			padding: 1em 0 2em 0;
			display: block;
			.list_item {
				display: block;
				width: auto;
				padding: 1em 0 0 0;
				> ul {
					li {
						font-size: .9em;
						&.title {
							margin-bottom: 0;
							font-size: 110%;
							a {
							}
						}
						a,
						span {
							padding: 0;
						}
						a { padding: .2em 0; }
					}
				}
			}
		}
	}
	.g_footer_secondary {
		padding: 0 1.6em;
		.inner {
			padding-bottom: 3em;
			.group_company {
				padding: 2em 0 0;
				.name {}
				> .lsit {
					width: 100%;
					float: none;
	    			margin-bottom: 3em;
					li {
						max-width: 47%;
						margin-right: .4em;
						a {
							img {
								width: 100%;
							}
						}
					}
				}
			}
			.g_footer_company {
				width: 100%;
				float: none;
				padding: 2em 0 0;
				.item {
					&.first {
						margin-top: .6em;
					}
					.first {
						float: none;
						display: block;
						width: auto;
					}
					.secondary {
						margin: .4em 0 0 0;
					}
				}
			}
			.sns {
				text-align: left;
				padding: 2em 0;
				li {
					a {
						img {}
					}
				}
			}
		}
	}
	.g_footer_last {
		padding: 0 1.6em;
		.inner {
			padding: 2em 0;
			.logo {
				float: none;
				zoom: 80%;
				a {
					img {}
				}
			}
			.copy {
				float: none;
				zoom: 78%;
				margin: 1.6em 0 0 0;
			}
		}
	}
}

.page_top {
	.scrolltop {
		display: block;
		width: 100%;
		background: #a4afb7;
		padding: .2em 0;
		line-height: 1;
		transition: all, .3s, cubic-bezier(0,1,.64,1);
		&:hover {
			background: #72838f;
		}
		.icon {
			font-size: 2em;
			line-height: 1;
			color: #fff;
		}
	}
}

/***************
account-page（Contact）
***************/

.contact .s_title {
  background: url(../img/contact_BG.png) no-repeat center/cover;
  padding-top: 170px;
}

.contact .s_content .inner {
  padding-bottom: 65px;
}

.contact .s_content .inner {
  padding-bottom: 65px;
}

.confirm_desc {
  text-align: left;
  background: #f9f9f9;
  padding-bottom: 25px;
}

#confirm {
    .g_form dl {
      dt {
        width: 275px;
      }
      dd {
        width: calc(100% - 275px);
        display: inline-block;
        padding: 0 15px 13px;
        border-bottom: 1px solid #d2d2d2;
      }
    }
}

#confirm .confirm1 {
    width: calc(100% - 275px - 35px) !important;
    margin-left: 35px;
    position: relative;
   .con1 {
     position: absolute;
      left: -35px;
   }
   .con2 {
      margin: 0 5px;
   }
}

#confirm .confirm2 {
    width: calc(100% - 275px) !important;
    margin-left: 275px !important;
    display: block !important;
    padding: 0 15px 13px !important;
    border-bottom: 1px solid #d2d2d2 !important;
}

#confirm .g_form dl dd.address_dd {
    margin-bottom: 15px;
}

#complete .contact .s_content .inner {
  padding-bottom: 0;
}

.s_title {
  width: 100%;
  height: 520px;
  background: url(../img/account_BG.png) no-repeat center/cover;
  color: #ffffff;
  .header {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: left;
    margin-bottom: 115px;
    a {
      img {
          padding-top:30px;
      }
    }
  }
  .title_wrap {
    letter-spacing: .4px;
   .title {
     font-size: 45px;
     font-weight: normal;
     letter-spacing: 2px;
     margin-bottom: 30px;
   }
    .desc01 {
      font-size: 16px;
      margin-bottom: 30px;
    }
    .desc02 {
      max-width: 500px;
      width: 100%;
      height: 115px;
      margin: 0 auto;
      border: 1px solid #ffffff;
      font-size: 16px;
      background: rgba(0,0,0,0.45);
      text-align: left;
      padding-top: 20px;
      padding-left: 65px;
      span {
       display: block;
       margin-top: 15px;
      }
    }
    .contact_desc {
      max-width: 700px;
      width: 100%;
      margin: 0 auto;
      border: 1px solid #ffffff;
      background: rgba(0,0,0,0.45);
      padding: 30px 130px 15px;
      .desc03 {
        font-size: 16px;
        line-height: 2.0;
        border-bottom: 1px solid #ffffff;
        padding-bottom: 15px;
      }
      .tel {
        font-size: 24px;
        padding: 10px 0 10px;
      }
    }
  }
}

#contact .s_content .inner .g_form .agree a, #account .s_content .inner .g_form .account_desc a {
   color: $blue;
}

.s_content {
  padding: 75px 0 140px;
  background: #f9f9f9;
  .inner {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    .g_form {
       padding: 50px 0 0;
       .account_desc {
         text-align: center;
         font-size: 16px;
         letter-spacing: .2px;
         margin-bottom: 50px;
         a {
           color: #43484d;
         }
       }
       .agree {
          font-size: 16px;
          padding-top: 15px;
          a {
           color: #43484d;
          }
       }
    }
    .account_login {
       text-align: center;
       padding-top: 55px;
       background: #f9f9f9;
       color:#a0a0a0;
       letter-spacing: .2px;
      a {
        color: $blue;
      }
    }
  }
}

#account .g_footer, #complete .g_footer {
  margin-top:0;
}

.address1, .address2 {
  width: 170px !important;
  display: inline-block !important;

}

span.add01 {
  color:#333333;
  font-size: 18px;
}

.address1 {
  margin-left: 27px !important;
  margin-right: 17px !important;
}

.address2 {
  margin-left: 17px !important;
}

/***************
 MW
***************/

.g_form .mw_wp_form_input input[type=checkbox] {
	appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	border: none;
	background-color: #eee;
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	border-radius: 2px;
	margin: 0 15px 2px 0;
	outline: none;
	cursor: pointer;
	position: relative;
  border: 1px solid #d2d2d2;
}
.g_form .mw_wp_form_input input[type=checkbox]:checked {
		border-color: #72838f;
}
.g_form .mw_wp_form_input input[type=checkbox]:checked:focus {
		outline: none;
}
.g_form .mw_wp_form_input input[type=checkbox]:checked:after {
	position: absolute;
	top: 6px;
	left: 5px;
	display: block;
	content: '';
	width: 12px;
	height: 6px;
	border-left: 3px solid #72838f;
	border-bottom: 3px solid #72838f;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


.g_form {
	max-width: 750px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
	dl {
		margin: 2.2em 0 0 0;
		display: table;
		width: 100%;
		white-space: nowrap;
		&:first-child {
			margin-top: 0;
			padding-top: 1em;
		}
		dt {
      font-weight: bold;
      color: #1b1b1b;
			position: relative;
			letter-spacing: 1px;
			display: inline-block;
			vertical-align: middle;
			text-align: left;
			font-size: 16px;
			width: 100%;
			padding-bottom: 13px;
			.txt {
				display: block;
				font-size: .6rem;
				opacity: .7;
			}
			&.required:after {
				position: absolute;
				content: '*';
        top: -7px;
				display: inline-block;
				vertical-align: middle;
				font-size: 20px;
				color: #1b1b1b;
        font-weight: 200;
			}
		}
		dd {
			width: 100%;
			display: block;
			vertical-align: middle;
			margin: 0 0 0 0;
			white-space: normal;
			textarea,
			input[type^="file"],
			input[type^="tel"],
			input[type^="email"],
			input[type^="text"] {
				background: #f6f6f6;
				border: none;
				width: 100%;
				padding: 1em;
				display: block;
				font-size: 16px;
				border: 1px solid transparent;
				border-radius: 2px;
				transition: all, .3s, ease-in-out;
        background: #eeeeee;
        border: 1px solid #d2d2d2;
        border-radius: 0;
				&:focus {
					outline: none;
					border: 1px solid $blue;
				}
			}
			.error {
				display: block;
				color: #de3431;
				font-weight: bold;
				margin-top: .3em;
				font-size: 1em;
			}
      &.address_dd {
        margin-bottom: 20px;
      }
		}
	}
	.form_btn {
		text-align: left;
		display: table;
		margin: 0 auto;
		li {
			display: inline-block;
			vertical-align: top;
			margin: 75px 0 35px 0;
			input {
				outline: none;
				background: none;
				border: 1px solid transparent;
				cursor: pointer;
				letter-spacing: 1px;
				transition: all, .3s, cubic-bezier(0,1,.64,1);
				border-radius: 2px;
				font-weight: bold;
				padding: 0 2em;
				&:hover {
					opacity: .6;
				}
			}
			&.back {
				input {
					background: #ccc;
					color: #fff;
          font-size: 18px;
          display: block;
          width: 100%;
          min-width: 130px;
          padding: 15px 110px;
          border-radius: 5px;
				}
			}
			&.submit {
				input {
					background: $blue;
          color: #fff;
          font-size: 18px;
          display: block;
          width: 100%;
          min-width: 130px;
          padding: 15px 110px;
          border-radius: 5px;
				}
			}
		}
	}
}

.firefox input[type="button"]::-moz-focus-inner,
.firefox input[type="reset"]::-moz-focus-inner,
.firefox input[type="submit"]::-moz-focus-inner,
.firefox select::-moz-focus-inner {
	outline: none;
	border: 0;
}

.selectbox {
	position: relative;
	overflow: hidden;
	border-radius: 3px;
	select::-ms-expand {
		display: none;
	}
	select {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		display: block;
	    width: 100%;
	    border: none;
	    background: #eeeeee;
      border: 1px solid #d2d2d2;
      border-radius: 0;
	    font-size: 13px;
	    padding: 1em;
	    cursor: pointer;
	    color: #43484d;
	    outline: none;
      height: 52px;
	}
	.icon_selectbox {
		&:after {
			pointer-events: none;
			position: absolute;
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			right: 20px;
			margin-top: -4px;
      border-width: 8px 7px 0 7px;;
			border-color: #a0a0a0 transparent transparent transparent;
			top: 28px;
		}
	}
}
.mw_wp_form_confirm {
	.selectbox {
		.icon_selectbox {
			display: none;
		}
	}
}

.checkbox {
	dd {
		span {
			&.mwform-checkbox-field {
				display: inline-block;
			    vertical-align: top;
			    width: 48%;
			}
			margin: 1em 0 0 0 !important;
			label {
				position: relative;
				cursor: pointer;
			}
		}
	}
	input[type=checkbox] {
		appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		border: none;
		background-color: #eee;
		display: inline-block;
		vertical-align: middle;
		width: 26px;
		height: 26px;
		border-radius: 2px;
		margin: 0 8px 2px 0;
		outline: none;
		cursor: pointer;
		&:checked {
			border-color: #72838f;
			&:focus {
				outline: none;
			}
			&:after {
				position: absolute;
				top: 3px;
				left: 5px;
				display: block;
				content: '';
				width: 12px;
				height: 6px;
				border-left: 3px solid #72838f;
				border-bottom: 3px solid #72838f;
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
}
.radio {
	dd {
		span {
			&.mwform-radio-field {
				display: inline-block;
			    vertical-align: top;
			    width: 48%;
			}
			margin: 1em 0 0 0 !important;
			label {
				position: relative;
				cursor: pointer;
			}
		}
	}
	input[type=radio] {
		appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		border: none;
		background-color: #eee;
		display: inline-block;
		vertical-align: middle;
		width: 26px;
		height: 26px;
		border-radius: 20px;
		margin: 0 8px 2px 0;
		outline: none;
		cursor: pointer;
		&:checked {
			border-color: #72838f;
			&:focus {
				outline: none;
			}
			&:after {
				position: absolute;
				top: 2px;
				left: 7px;
				display: block;
				content: '';
				width: 12px;
				height: 12px;
                border-radius: 50%;
				background: #72838f;
			}
		}
	}
}
.mw_wp_form_preview .form_btn li.back {
	margin-right: 50px;
}
.mw_wp_form_confirm {
	dl dt .txt {
		display: none;
	}
}
@media #{$small} {
	.g_form {
		dl {
			display: block;
			width: auto;
			padding: 0 1.6em;
			margin-top: 1em;
			&:first-child {
				padding-top: 1.6em;
			}
			dt {
				display: block;
				text-align: left;
				width: auto;
				margin: 0;
				zoom: 90%;
				&.required {}
			}
			dd {
				display: block;
				text-align: left;
				width: auto;
				margin: .2em 0 0 0;
				textarea,
				input[type^="file"],
				input[type^="tel"],
				input[type^="email"],
				input[type^="text"] {
					font-size: 16px;
					padding: .4em 1em;
				}
			}
		}
		.form_btn {
			width: 100%;
			margin: 0;
			text-align: center;
			padding: 0 1em;
			li {
				padding: 0 .4em;
			}
		}
	}
	.mw_wp_form_confirm {
		.g_form {
			dl {
				padding: 1em 1.6em;
				margin: 0;
				border-bottom: 1px solid #eee;
			}
		}
	}
}

.mw_wp_form_complete {
	h3 {
		font-weight: bold;
		font-size: 1.2em;
    line-height: 2.4;
	}
}

.page_complete {
	text-align: center;
	padding: 4em 1.6em 0 1.6em;
  .title_wrap {
    color: #1b1b1b;
    .title {
      font-size: 30px;
      font-weight: 600;
      letter-spacing: .5px;
      margin-bottom: 25px;
      }
    .txt_wrap {
      .txt {
        font-size: 16px;
        line-height: 2.2;
        font-weight: 600;
      }
    }
  }
	.top_btn {
		margin: 60px auto 100px auto;
		text-align: center;
		a {
			background: $blue;
			color: #fff;
			display: inline-block;
			vertical-align: top;
      padding: 20px 150px;
      border-radius: 5px;
      font-size: 18px;
		}
	}
}


.stepBar {
  position: relative;
  list-style: none;
  margin: 2em auto;
  padding: 0;
  text-align: center;
  width: 55%;
  overflow: hidden;
  *zoom: 1;
}
.stepBar .step {
  position: relative;
  float: left;
  display: inline-block;
  line-height: 40px;
  padding: 0 2em 0 .9em;
  background-color: #eee;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.stepBar .step:before, .stepBar .step:after {
  position: absolute;
  left: -15px;
  display: block;
  content: '';
  background-color: #eee;
  border-left: 4px solid #FFF;
  width: 20px;
  height: 20px;
}
.stepBar .step:after {
  top: 0;
  -moz-transform: skew(30deg);
  -ms-transform: skew(30deg);
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
}
.stepBar .step::before {
  bottom: 0;
  -moz-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}
.stepBar .step:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.stepBar .step:first-child:before, .stepBar .step:first-child:after {
  content: none;
}
.stepBar .step:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.stepBar .step.current {
  color: #FFF;
  background-color: $blue;
}
.stepBar .step.current:before, .stepBar .step.current:after {
  background-color: $blue;
}
.stepBar.step2 .step {
  width: 50%;
}
.stepBar.step3 .step {
  width: 33.333%;
}
.stepBar.step4 .step {
  width: 25%;
}
.stepBar.step5 .step {
  width: 20%;
}

.input_text::-webkit-input-placeholder {
	color: #a0a0a0;
  font-size: 14px;
  line-height: 19px;
}

.input_text::-moz-placeholder {
	color: #a0a0a0;
  font-size: 14px;
  line-height: 19px;
}

.input_text:-ms-input-placeholder {
	color: #a0a0a0;
  font-size: 14px;
  line-height: 19px;
}
